header, nav, main, footer {
        max-width: 70rem;
        margin:auto;
}

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main div.matt, div.brad, div.daniel, div.jared{
        flex-basis: 0%;
        padding: 1%;
 }
/*----------- FOOTER --------------*/
    
